.project-list-container {
  border: 1px solid rgba(16, 22, 26, 0.15);
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 15px;
  .project-list-container-title {
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(16, 22, 26, 0.15);
  }
  .project-list {
    margin-top: 15px;
    .project-item {
      display: flex;
      .project-item-content {
        width: 100%;
        border: 1px solid rgba(16, 22, 26, 0.15);
        border-radius: 4px;
        overflow: hidden;
        padding: 15px;
        margin-bottom: 15px;
      }
      .remove-button,
      .add-button {
        height: 30px;
        margin-left: 10px;
      }
      .remove-button {
        float: right;
      }
    }
  }
}
