.dotStatus
  display: inline-block
  .dotStatusPhase
    display: inline-block
    margin-right: 5px
  .dotStatusColor
    margin-left: 5px
    font-weight: 600
    &.finish
      color: #38ba2d
    &.process
      color: #1890ff
    &.wait
      color: rgba(0, 0, 0, 0.25)
