.inputFieldsContainer
  .inputFieldsList
    margin-top: 15px
    .inputFieldsItem
      display: flex
      .inputFieldsContent
        width: 100%
        overflow: hidden
        margin-bottom: 15px
        padding: 15px
        border: 1px solid #e8e8e8
      .deleteButton,
      .addButton
        height: 30px
        margin-left: 10px
      .deleteButton
        float: right
