.projectTaskList
  display: flex
  align-items: center
  justify-content: center
  padding: 15px 0 10px 0
  .projectTaskItem
    flex: 1 0 0
    color: #666
    text-align: center
    .taskItemTitle
      font-size: 12px
      line-height: 25px
    .taskItemCount
      font-size: 28px
      font-weight: 900
