.selfManagerProjects
  width: 320px
  height: 680px
  margin-right: 10px
  .selfManagerProjectsContent
    list-style-type: none;
    font-size: 16px;
    .projectListItem
      margin-bottom: 10px;
      &:hover
        cursor: pointer
      &.active
        border-right: none
      .projectItemContent
        .projectItemOpt
          text-align: center
          .projectItemOptBtnGroup
            display: flex
            align-items: center
            .projectItemOptBtn
              flex: 1 0 0
              border: none
              box-shadow: none
