.project-task-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 10px 0;
  .project-task-item {
    flex: 1 0 0;
    color: #666;
    text-align: center;
    .count {
      font-size: 28px;
      font-weight: 900;
    }
    .title {
      font-size: 12px;
      line-height: 25px;
    }
  }
}
