.selfManagerProjectCreateContainer
  .selfManagerProjectCreateInputContent
    .selfManagerProjectInputCard
      margin-bottom: 10px
    .selfManagerProjectBasicInputInfo
      margin-bottom: 15px
      .selfManagerProjectTimestones
        .ant-steps-item-title
          font-size: 12px
