.self-manager-projects {
  width: 320px;
  height: 680px;
  margin-right: 20px;
  .self-manager-project-list-container {
    list-style-type: none;
    font-size: 16px;
    .project-list-item {
      margin-bottom: 10px;
      .project-item {
        .project-title {
          color: #333;
          font-size: 16px;
          font-weight: 600;
          padding-bottom: 15px;
          border-bottom: 1px dashed rgba(16, 22, 26, 0.15);
        }
        .project-timestones {
          font-size: 14px;
          margin-top: 16px;
          color: #F00;
          font-weight: 600;
          .project-timestones-label {
            margin-right: 5px;
            color: #666;
          }
        }
        .project-opt-area {
          text-align: center;
        }
      }
    }
  }
}
