.selfManagerPage
  .selfManagerPageHeader
    width: 100%
    position: fixed;
    left: 0
    top: 0
    z-index: 10
    background-color: #fff
    height: 46px
    display: flex;
    align-items: center;
    line-height: normal
    .selfManagerLogo
      font-size: 20px
      font-weight: 600
      color: #555
      margin-right: 20px
      .selfManagerLogan
        font-size: 12px
        font-weight: normal
        color: #999
        margin: 0
    .selfManagerPageMenu
      position: relative
      height: 46px
  .selfManagerPageContainer
    width: 100%
    min-height: 600px
    display: flex
    background-color: #F4F4F4
    padding: 56px 10px 10px 10px
    .selfManagerPageContainerSider
      background-color: #f4f4f4;
    .selfManagerPageRouter
      flex: 1 0 0
  .selfManagerPageFooter
    background-color: #fff
    div
      text-align: center
      font-weight: 600
