.selfManagerPage
  .selfManagerPageHeader
    background-color: #fff
    height: 46px
    .selfManagerPageMenu
      width: 100%
      position: fixed;
      left: 0
      top: 0
      z-index: 10
  .selfManagerPageContainer
    width: 100%
    display: flex
    background-color: #F4F4F4
    padding: 10px
    .selfManagerPageContainerSider
      background-color: #f4f4f4;
    .selfManagerPageRouter
      flex: 1 0 0
  .selfManagerPageFooter
    background-color: #fff
    div
      text-align: center
      font-weight: 600
