.selfManagerPage
  .selfManagerPageLayout
    background-color: #f6f6f6
  .selfManagerPageHeaderLayout
    background-color: #fff
    height: 60px
  .selfManagerPageContainer
    width: 100%
    min-height: 600px
    display: flex
    background-color: #fff
    margin-top: 10px
    .selfManagerPageContainerTabs
      width: 100%
      padding-right: 30px
      box-sizing: border-box
